@import "common/var";

.el-icon-login-password6:before {
  content: "\a1018";
}

.el-icon-login-username6:before {
  content: "\a1017";
}

.el-icon-login-password:before {
  content: "\a1016";
}

.el-icon-login-password2:before {
  content: "\a1015";
}

.el-icon-login-password3:before {
  content: "\a1014";
}

.el-icon-login-eye-hide:before {
  content: "\a1013";
}

.el-icon-login-eye-show:before {
  content: "\a1012";
}

.el-icon-login-eye-hide1:before {
  content: "\a1011";
}

.el-icon-login-password4:before {
  content: "\a1010";
}

.el-icon-login-password5:before {
  content: "\a1009";
}

.el-icon-login-eye-show2:before {
  content: "\a1008";
}

.el-icon-login-eye-hide2:before {
  content: "\a1007";
}

.el-icon-login-eye-show1:before {
  content: "\a1006";
}

.el-icon-login-mima12:before {
  content: "\a1005";
}

.el-icon-login-username:before {
  content: "\a1004";
}

.el-icon-login-username2:before {
  content: "\a1003";
}

.el-icon-login-username3:before {
  content: "\a1002";
}

.el-icon-login-username4:before {
  content: "\a1001";
}
