@import "common/var";

.el-icon-weather-bingbao:before {
  content: "\a3027";
}

.el-icon-weather-dafeng:before {
  content: "\a3026";
}

.el-icon-weather-leibao:before {
  content: "\a3025";
}

.el-icon-weather-longjuanfeng:before {
  content: "\a3024";
}

.el-icon-weather-dabaoyu:before {
  content: "\a3023";
}

.el-icon-weather-dayu:before {
  content: "\a3022";
}

.el-icon-weather-duoyun:before {
  content: "\a3021";
}

.el-icon-weather-qingtian:before {
  content: "\a3020";
}

.el-icon-weather-xiaoyu:before {
  content: "\a3019";
}

.el-icon-weather-yin:before {
  content: "\a3018";
}

.el-icon-weather-zhongyu:before {
  content: "\a3017";
}

.el-icon-weather-baoyu:before {
  content: "\a3016";
}

.el-icon-weather-dabaoxue:before {
  content: "\a3015";
}

.el-icon-weather-daxue:before {
  content: "\a3014";
}

.el-icon-weather-duoyunzhuanqing:before {
  content: "\a3013";
}

.el-icon-weather-leizhenyu:before {
  content: "\a3012";
}

.el-icon-weather-leiyu:before {
  content: "\a3011";
}

.el-icon-weather-xiaoxue:before {
  content: "\a3010";
}

.el-icon-weather-zhongxue:before {
  content: "\a3009";
}

.el-icon-weather-wu:before {
  content: "\a3008";
}

.el-icon-weather-baoxue:before {
  content: "\a3007";
}

.el-icon-weather-yujiaxue:before {
  content: "\a3006";
}

.el-icon-weather-zhenxue:before {
  content: "\a3005";
}

.el-icon-weather-zhenyu:before {
  content: "\a3004";
}

.el-icon-weather-tedabaoyu:before {
  content: "\a3003";
}

.el-icon-weather-shachenbao:before {
  content: "\a3002";
}

.el-icon-weather-mai:before {
  content: "\a3001";
}
