@import "common/var";

.el-icon-basics-aixin:before {
  content: "\a4150";
}

.el-icon-basics-bianji6:before {
  content: "\a4149";
}

.el-icon-basics-dyanjing:before {
  content: "\a4148";
}

.el-icon-basics-caidan:before {
  content: "\a4147";
}

.el-icon-basics-anquan:before {
  content: "\a4146";
}

.el-icon-basics-bangzhu:before {
  content: "\a4145";
}

.el-icon-basics-buganxingqu:before {
  content: "\a4144";
}

.el-icon-basics-bofangjilu:before {
  content: "\a4143";
}

.el-icon-basics-chenggong:before {
  content: "\a4142";
}

.el-icon-basics-ceshi:before {
  content: "\a4141";
}

.el-icon-basics-dianhua1:before {
  content: "\a4140";
}

.el-icon-basics-dianzan:before {
  content: "\a4139";
}

.el-icon-basics-dingwei1:before {
  content: "\a4138";
}

.el-icon-basics-diantong-guan:before {
  content: "\a4137";
}

.el-icon-basics-dianying:before {
  content: "\a4136";
}

.el-icon-basics-ditu:before {
  content: "\a4135";
}

.el-icon-basics-diantong_kai:before {
  content: "\a4134";
}

.el-icon-basics-dianyingpiao:before {
  content: "\a4133";
}

.el-icon-basics-dingdan:before {
  content: "\a4132";
}

.el-icon-basics-fanbei:before {
  content: "\a4131";
}

.el-icon-basics-faxian:before {
  content: "\a4130";
}

.el-icon-basics-ertongpiao:before {
  content: "\a4129";
}

.el-icon-basics-gongyi:before {
  content: "\a4128";
}

.el-icon-basics-hongbao:before {
  content: "\a4127";
}

.el-icon-basics-fuzhi:before {
  content: "\a4126";
}

.el-icon-basics-fenxiang:before {
  content: "\a4125";
}

.el-icon-basics-huatifuhao:before {
  content: "\a4124";
}

.el-icon-basics-huiyuan:before {
  content: "\a4123";
}

.el-icon-basics-aliyu:before {
  content: "\a4122";
}

.el-icon-basics-jiju:before {
  content: "\a4121";
}

.el-icon-basics-jianshao1:before {
  content: "\a4120";
}

.el-icon-basics-kabao:before {
  content: "\a4119";
}

.el-icon-basics-huati:before {
  content: "\a4118";
}

.el-icon-basics-guanzhu:before {
  content: "\a4117";
}

.el-icon-basics-maiyizengyi:before {
  content: "\a4116";
}

.el-icon-basics-lihe:before {
  content: "\a4115";
}

.el-icon-basics-paihangbang:before {
  content: "\a4114";
}

.el-icon-basics-lipinka:before {
  content: "\a4113";
}

.el-icon-basics-pengyouquan:before {
  content: "\a4112";
}

.el-icon-basics-mingxinghuodong:before {
  content: "\a4111";
}

.el-icon-basics-qupiao:before {
  content: "\a4110";
}

.el-icon-basics-saoyisao:before {
  content: "\a4109";
}

.el-icon-basics-rili1:before {
  content: "\a4108";
}

.el-icon-basics-pinglun:before {
  content: "\a4107";
}

.el-icon-basics-qinghuiyuan:before {
  content: "\a4106";
}

.el-icon-basics-riqian:before {
  content: "\a4105";
}

.el-icon-basics-shandian:before {
  content: "\a4104";
}

.el-icon-basics-shaixuan1:before {
  content: "\a4103";
}

.el-icon-basics-shangquan:before {
  content: "\a4102";
}

.el-icon-basics-shezhi1:before {
  content: "\a4101";
}

.el-icon-basics-shangchuan:before {
  content: "\a4100";
}

.el-icon-basics-shijian:before {
  content: "\a4099";
}

.el-icon-basics-shoucang:before {
  content: "\a4098";
}

.el-icon-basics-shuju:before {
  content: "\a4097";
}

.el-icon-basics-shuaxin1:before {
  content: "\a4096";
}

.el-icon-basics-sousuo1:before {
  content: "\a4095";
}

.el-icon-basics-tanhao:before {
  content: "\a4094";
}

.el-icon-basics-taolunqu:before {
  content: "\a4093";
}

.el-icon-basics-tianjiayouhuiquan:before {
  content: "\a4092";
}

.el-icon-basics-tishi:before {
  content: "\a4091";
}

.el-icon-basics-tupian1:before {
  content: "\a4090";
}

.el-icon-basics-wenjuan:before {
  content: "\a4089";
}

.el-icon-basics-wodeguanzhu:before {
  content: "\a4088";
}

.el-icon-basics-xiangkan:before {
  content: "\a4087";
}

.el-icon-basics-xiangji2:before {
  content: "\a4086";
}

.el-icon-basics-xiaoxi1:before {
  content: "\a4085";
}

.el-icon-basics-xiazai:before {
  content: "\a4084";
}

.el-icon-basics-xiaoxizhongxin:before {
  content: "\a4083";
}

.el-icon-basics-yinhangka:before {
  content: "\a4082";
}

.el-icon-basics-yixiangkan:before {
  content: "\a4081";
}

.el-icon-basics-yingyuan:before {
  content: "\a4080";
}

.el-icon-basics-yuyin:before {
  content: "\a4079";
}

.el-icon-basics-youhuiquan:before {
  content: "\a4078";
}

.el-icon-basics-WIFI:before {
  content: "\a4077";
}

.el-icon-basics-zhiwen:before {
  content: "\a4076";
}

.el-icon-basics-juzuo:before {
  content: "\a4075";
}

.el-icon-basics-juzhong:before {
  content: "\a4074";
}

.el-icon-basics-hengpai:before {
  content: "\a4073";
}

.el-icon-basics-bianji3:before {
  content: "\a4072";
}

.el-icon-basics-bianji2:before {
  content: "\a4071";
}

.el-icon-basics-bianji1:before {
  content: "\a4070";
}

.el-icon-basics-menhu:before {
  content: "\a4069";
}

.el-icon-basics-jichushezhi:before {
  content: "\a4068";
}

.el-icon-basics-jichushuju:before {
  content: "\a4067";
}

.el-icon-basics-tuzhi2:before {
  content: "\a4066";
}

.el-icon-basics-tuzhi:before {
  content: "\a4065";
}

.el-icon-basics-collapse:before {
  content: "\a4064";
}

.el-icon-basics-expand:before {
  content: "\a4063";
}

.el-icon-basics-qingkong3:before {
  content: "\a4062";
}

.el-icon-basics-qingkong2:before {
  content: "\a4061";
}

.el-icon-basics-qingkong1:before {
  content: "\a4060";
}

.el-icon-basics-bumen:before {
  content: "\a4059";
}

.el-icon-basics-gongsi:before {
  content: "\a4058";
}

.el-icon-basics-shouye2:before {
  content: "\a4055";
}

.el-icon-basics-tuichu:before {
  content: "\a4054";
}

.el-icon-basics-tuichu1:before {
  content: "\a4053";
}

.el-icon-basics-gerenxinxi:before {
  content: "\a4052";
}

.el-icon-basics-size:before {
  content: "\a4051";
}

.el-icon-basics-guojihua:before {
  content: "\a4050";
}

.el-icon-basics-jigou2:before {
  content: "\a4057";
}

.el-icon-basics-kehu2:before {
  content: "\a4056";
}

.el-icon-basics-mima:before {
  content: "\a4049";
}

.el-icon-basics-sousuo2:before {
  content: "\a4048";
}

.el-icon-basics-xiaoxi2:before {
  content: "\a4047";
}

.el-icon-basics-shangsheng:before {
  content: "\a4046";
}

.el-icon-basics-xiajiang:before {
  content: "\a4045";
}

.el-icon-basics-lajitong:before {
  content: "\a4044";
}

.el-icon-basics-quanbu:before {
  content: "\a4043";
}

.el-icon-basics-gengduoneirong:before {
  content: "\a4042";
}

.el-icon-basics-remen:before {
  content: "\a4041";
}

.el-icon-basics-sousuo:before {
  content: "\a4040";
}

.el-icon-basics-shanchu:before {
  content: "\a4039";
}

.el-icon-basics-yunshangchuan:before {
  content: "\a4038";
}

.el-icon-basics-yunxiazai:before {
  content: "\a4037";
}

.el-icon-basics-tongxunlu:before {
  content: "\a4036";
}

.el-icon-basics-zhankai:before {
  content: "\a4035";
}

.el-icon-basics-shouqi:before {
  content: "\a4034";
}

.el-icon-basics-zengjia:before {
  content: "\a4033";
}

.el-icon-basics-jianshao:before {
  content: "\a4032";
}

.el-icon-basics-gengduo:before {
  content: "\a4031";
}

.el-icon-basics-bianji:before {
  content: "\a4030";
}

.el-icon-basics-lianjie:before {
  content: "\a4029";
}

.el-icon-basics-rili:before {
  content: "\a4028";
}

.el-icon-basics-shezhi:before {
  content: "\a4027";
}

.el-icon-basics-tongzhi:before {
  content: "\a4026";
}

.el-icon-basics-xiaoxi:before {
  content: "\a4025";
}

.el-icon-basics-dianhua:before {
  content: "\a4024";
}

.el-icon-basics-duanxin:before {
  content: "\a4023";
}

.el-icon-basics-dingwei:before {
  content: "\a4022";
}

.el-icon-basics-fujian:before {
  content: "\a4021";
}

.el-icon-basics-guanyu:before {
  content: "\a4020";
}

.el-icon-basics-jigou:before {
  content: "\a4019";
}

.el-icon-basics-jisuanqi:before {
  content: "\a4018";
}

.el-icon-basics-quanpingzuidahua:before {
  content: "\a4017";
}

.el-icon-basics-quanpingzuixiaohua:before {
  content: "\a4016";
}

.el-icon-basics-saomiao:before {
  content: "\a4015";
}

.el-icon-basics-shaixuan:before {
  content: "\a4014";
}

.el-icon-basics-shougongshuru:before {
  content: "\a4013";
}

.el-icon-basics-shouji:before {
  content: "\a4012";
}

.el-icon-basics-shuaxin:before {
  content: "\a4011";
}

.el-icon-basics-tupian:before {
  content: "\a4010";
}

.el-icon-basics-xiangji:before {
  content: "\a4009";
}

.el-icon-basics-yiwen:before {
  content: "\a4008";
}

.el-icon-basics-youjian:before {
  content: "\a4007";
}

.el-icon-basics-shouye:before {
  content: "\a4006";
}

.el-icon-basics-gongzuo:before {
  content: "\a4005";
}

.el-icon-basics-kehu:before {
  content: "\a4004";
}

.el-icon-basics-jingying:before {
  content: "\a4003";
}

.el-icon-basics--jingying2:before {
  content: "\a4002";
}

.el-icon-basics-chanpin:before {
  content: "\a4001";
}
