@import "common/var";

.el-icon-gender-nvsheng:before {
  content: "\a1113";
}

.el-icon-gender-nansheng:before {
  content: "\a1112";
}

.el-icon-gender-xingbie-nan:before {
  content: "\a1111";
}

.el-icon-gender-xingbie-nv:before {
  content: "\a1110";
}

.el-icon-gender-xingbie:before {
  content: "\a1109";
}

.el-icon-gender-xingbie1:before {
  content: "\a1108";
}

.el-icon-gender-xingbie2:before {
  content: "\a1107";
}

.el-icon-gender-sex_man:before {
  content: "\a1106";
}

.el-icon-gender-sex_woman:before {
  content: "\a1105";
}

.el-icon-gender-xingbie3:before {
  content: "\a1104";
}

.el-icon-gender-xingbie-nan1:before {
  content: "\a1103";
}

.el-icon-gender-xingbie-nv1:before {
  content: "\a1102";
}

.el-icon-gender-xingbietongji:before {
  content: "\a1101";
}
