@import "common/var";

.el-icon-direction-arrow-up-left:before {
  content: "\a2080";
}

.el-icon-direction-arrow-up-left-fill:before {
  content: "\a2079";
}

.el-icon-direction-arrow-up-right:before {
  content: "\a2078";
}

.el-icon-direction-arrow-up-right-fill:before {
  content: "\a2077";
}

.el-icon-direction-arrow-down1:before {
  content: "\a2076";
}

.el-icon-direction-arrow-right:before {
  content: "\a2075";
}

.el-icon-direction-arrow-up:before {
  content: "\a2074";
}

.el-icon-direction-arrow-left1:before {
  content: "\a2073";
}

.el-icon-direction-caret-down1:before {
  content: "\a2072";
}

.el-icon-direction-caret-left-small:before {
  content: "\a2071";
}

.el-icon-direction-caret-left1:before {
  content: "\a2070";
}

.el-icon-direction-caret-right-small:before {
  content: "\a2069";
}

.el-icon-direction-caret-right1:before {
  content: "\a2068";
}

.el-icon-direction-caret-up1:before {
  content: "\a2067";
}

.el-icon-direction-caret-up-small:before {
  content: "\a2066";
}

.el-icon-direction-caret-down-small:before {
  content: "\a2065";
}

.el-icon-direction-chevron-left-circle1:before {
  content: "\a2064";
}

.el-icon-direction-chevron-left-double:before {
  content: "\a2063";
}

.el-icon-direction-chevron-left-rectangle:before {
  content: "\a2062";
}

.el-icon-direction-chevron-left:before {
  content: "\a2061";
}

.el-icon-direction-chevron-right-circle1:before {
  content: "\a2060";
}

.el-icon-direction-chevron-right-double:before {
  content: "\a2059";
}

.el-icon-direction-chevron-right:before {
  content: "\a2058";
}

.el-icon-direction-chevron-right-rectangle:before {
  content: "\a2057";
}

.el-icon-direction-shangyi:before {
  content: "\a2056";
}

.el-icon-direction-xiayi:before {
  content: "\a2055";
}

.el-icon-direction-zhidi:before {
  content: "\a2054";
}

.el-icon-direction-zhiding:before {
  content: "\a2053";
}

.el-icon-direction-shang:before {
  content: "\a2052";
}

.el-icon-direction-xia:before {
  content: "\a2051";
}

.el-icon-direction-you:before {
  content: "\a2050";
}

.el-icon-direction-zuo:before {
  content: "\a2049";
}

.el-icon-direction-zhongzuo:before {
  content: "\a2048";
}

.el-icon-direction-chexiao:before {
  content: "\a2047";
}

.el-icon-direction-caret-down:before {
  content: "\a2046";
}

.el-icon-direction-caret-left:before {
  content: "\a2045";
}

.el-icon-direction-caret-right:before {
  content: "\a2044";
}

.el-icon-direction-caret-up:before {
  content: "\a2043";
}

.el-icon-direction-chevron-down-circle:before {
  content: "\a2042";
}

.el-icon-direction-chevron-left-circle:before {
  content: "\a2041";
}

.el-icon-direction-chevron-right-circle:before {
  content: "\a2040";
}

.el-icon-direction-chevron-up-circle:before {
  content: "\a2039";
}

.el-icon-direction-next:before {
  content: "\a2038";
}

.el-icon-direction-previous:before {
  content: "\a2037";
}

.el-icon-direction-arrow-90deg-left:before {
  content: "\a2036";
}

.el-icon-direction-arrow-90deg-down-fill:before {
  content: "\a2035";
}

.el-icon-direction-arrow-90deg-down:before {
  content: "\a2034";
}

.el-icon-direction-arrow-90deg-left-fill:before {
  content: "\a2033";
}

.el-icon-direction-arrow-90deg-right:before {
  content: "\a2032";
}

.el-icon-direction-arrow-990deg-right-fill:before {
  content: "\a2031";
}

.el-icon-direction-arrow-90deg-up:before {
  content: "\a2030";
}

.el-icon-direction-arrow-bar-down:before {
  content: "\a2029";
}

.el-icon-direction-arrow-90deg-up-fill:before {
  content: "\a2028";
}

.el-icon-direction-arrow-bar-left:before {
  content: "\a2027";
}

.el-icon-direction-arrow-bar-down-fill:before {
  content: "\a2026";
}

.el-icon-direction-arrow-bar-left-fill:before {
  content: "\a2025";
}

.el-icon-direction-arrow-bar-up-fill:before {
  content: "\a2024";
}

.el-icon-direction-arrow-bar-right:before {
  content: "\a2023";
}

.el-icon-direction-arrow-bar-up:before {
  content: "\a2022";
}

.el-icon-direction-arrow-down:before {
  content: "\a2021";
}

.el-icon-direction-arrow-bar-right-fill:before {
  content: "\a2020";
}

.el-icon-direction-arrow-down-left:before {
  content: "\a2019";
}

.el-icon-direction-arrow-down-left-fill:before {
  content: "\a2018";
}

.el-icon-direction-arrow-down-right:before {
  content: "\a2017";
}

.el-icon-direction-arrow-down-right-fill:before {
  content: "\a2016";
}

.el-icon-direction-arrow-down-short-fill:before {
  content: "\a2015";
}

.el-icon-direction-arrow-down-short:before {
  content: "\a2014";
}

.el-icon-direction-arrow-left:before {
  content: "\a2013";
}

.el-icon-direction-arrow-left-fill:before {
  content: "\a2012";
}

.el-icon-direction-arrow-left-short-fill:before {
  content: "\a2011";
}

.el-icon-direction-arrow-left-short:before {
  content: "\a2010";
}

.el-icon-direction-arrown-down-fill:before {
  content: "\a2009";
}

.el-icon-direction-arrow-return-left:before {
  content: "\a2008";
}

.el-icon-direction-arrow-return-left-fill:before {
  content: "\a2007";
}

.el-icon-direction-arrow-return-right-fill:before {
  content: "\a2006";
}

.el-icon-direction-arrow-right-fill:before {
  content: "\a2005";
}

.el-icon-direction-arrow-return-right:before {
  content: "\a2004";
}

.el-icon-direction-arrow-right-short:before {
  content: "\a2003";
}

.el-icon-direction-arrow-right-short-fill:before {
  content: "\a2002";
}

.el-icon-direction-arrow-up-fill:before {
  content: "\a2001";
}
