@import "common/var";

.el-icon-menu-xm-zhandian:before {
  content: "\a262b";
}

.el-icon-menu-qx-canyu:before {
  content: "\a262c";
}

.el-icon-menu-xmjd-danti:before {
  content: "\a262d";
}

.el-icon-menu-qx-danwei:before {
  content: "\a262e";
}

.el-icon-menu-bz-biaozhunguanli:before {
  content: "\a262f";
}

.el-icon-menu-xmjd-xiangmujindu2:before {
  content: "\a2630";
}

.el-icon-menu-bz-jianmobiaozhun:before {
  content: "\a2631";
}

.el-icon-menu-xmjd-xingxiangjingdu:before {
  content: "\a2632";
}

.el-icon-menu-xmjd-xiangmujingdu:before {
  content: "\a2633";
}

.el-icon-menu-bz-yanshoubiaozhun:before {
  content: "\a2634";
}

.el-icon-menu-jd-tianbao:before {
  content: "\a2635";
}

.el-icon-menu-jd-niandujihua:before {
  content: "\a2636";
}

.el-icon-menu-mx-moxingguangli:before {
  content: "\a2637";
}

.el-icon-menu-cz-banbeng:before {
  content: "\a2638";
}

.el-icon-menu-tz-mulu:before {
  content: "\a2639";
}

.el-icon-menu-tz-tuchengguangli2:before {
  content: "\a263a";
}

.el-icon-menu-jd-jindujihua:before {
  content: "\a263b";
}

.el-icon-menu-mx-moxingguangli2:before {
  content: "\a263c";
}

.el-icon-menu-jd-yuedujihua:before {
  content: "\a263d";
}

.el-icon-menu-tz-tuzhiguangli:before {
  content: "\a263e";
}

.el-icon-menu-tu-shenghe:before {
  content: "\a263f";
}

.el-icon-menu-sjcg-shejichengguo:before {
  content: "\a2640";
}

.el-icon-menu-tu-taizhang:before {
  content: "\a2641";
}

.el-icon-menu-jd-jingdutongji:before {
  content: "\a2642";
}

.el-icon-menu-jd-jingduguanli:before {
  content: "\a2643";
}

.el-icon-menu-jd-jingdujihua:before {
  content: "\a2644";
}

.el-icon-menu-jd-niandufenyue:before {
  content: "\a2645";
}

.el-icon-menu-xt-tongjipeizhi:before {
  content: "\a2646";
}

.el-icon-menu-zl-wentiku:before {
  content: "\a2647";
}

.el-icon-menu-zl-fenbu:before {
  content: "\a2648";
}

.el-icon-menu-zl-fenxiang:before {
  content: "\a2649";
}

.el-icon-menu-zl-jianyan:before {
  content: "\a264a";
}

.el-icon-menu-jc-xiangmuguanli:before {
  content: "\a2600";
}

.el-icon-menu-jc-xiangmuguangli:before {
  content: "\a2601";
}

.el-icon-menu-jc-wodexiangmu:before {
  content: "\a2602";
}

.el-icon-menu-jc-huishouzhan:before {
  content: "\a2603";
}

.el-icon-menu-jc-xinxiliebiao:before {
  content: "\a2604";
}

.el-icon-menu-jc-xitongcaidan:before {
  content: "\a2605";
}

.el-icon-menu-jc-bumenguanli:before {
  content: "\a2606";
}

.el-icon-menu-jc-yonghuguangli:before {
  content: "\a2607";
}

.el-icon-menu-jc-jichushuju:before {
  content: "\a2608";
}

.el-icon-menu-jc-gongsiguanli:before {
  content: "\a2609";
}

.el-icon-menu-jc-yonghuguanli:before {
  content: "\a260a";
}

.el-icon-menu-jc-quanxianguangli:before {
  content: "\a260b";
}

.el-icon-menu-jc-xitongrizhi:before {
  content: "\a260c";
}

.el-icon-menu-jc-shujuzidian:before {
  content: "\a260d";
}

.el-icon-menu-jc-xitonghuancun:before {
  content: "\a260e";
}

.el-icon-menu-xm-chakan:before {
  content: "\a260f";
}

.el-icon-menu-xm-lichengbei:before {
  content: "\a2610";
}

.el-icon-menu-xm-bangong:before {
  content: "\a2612";
}

.el-icon-menu-xm-fabu:before {
  content: "\a2613";
}

.el-icon-menu-xm-tongzhi:before {
  content: "\a2614";
}

.el-icon-menu-xm-zuzhi:before {
  content: "\a2615";
}

.el-icon-menu-xm-quanzi:before {
  content: "\a2616";
}

.el-icon-menu-xm-guihua:before {
  content: "\a2617";
}

.el-icon-menu-xm-menghu:before {
  content: "\a2618";
}

.el-icon-menu-xm-dongtai:before {
  content: "\a2619";
}

.el-icon-menu-xm-jianjie:before {
  content: "\a261a";
}

.el-icon-menu-wd-dangjian:before {
  content: "\a261b";
}

.el-icon-menu-wd-wendang:before {
  content: "\a261c";
}

.el-icon-menu-wd-anquan:before {
  content: "\a261d";
}

.el-icon-menu-wd-yanshou:before {
  content: "\a261f";
}

.el-icon-menu-wd-gongwen:before {
  content: "\a2621";
}

.el-icon-menu-wd-caigou:before {
  content: "\a2622";
}

.el-icon-menu-wd-bim:before {
  content: "\a2623";
}

.el-icon-menu-wd-sheji:before {
  content: "\a2624";
}

.el-icon-menu-wd-shangjiwenjian:before {
  content: "\a2625";
}

.el-icon-menu-xm-gongchengguanli:before {
  content: "\a2626";
}

.el-icon-menu-xm-biaoduan:before {
  content: "\a2627";
}

.el-icon-menu-xm-jianshe:before {
  content: "\a228";
}

.el-icon-menu-xm-jiankong:before {
  content: "\a2629";
}

.el-icon-menu-xm-shu:before {
  content: "\a262a";
}

.el-icon-menu-qianqijihuaguanli:before {
  content: "\a60b1";
}

.el-icon-menu-qianqiguanli:before {
  content: "\a60c";
}

.el-icon-menu-tuzhimulu:before {
  content: "\a60d2";
}

.el-icon-menu-tuzhihuishen:before {
  content: "\a60e1";
}

.el-icon-menu-shejiguanli:before {
  content: "\a60f2";
}

.el-icon-menu-jihuatongji:before {
  content: "\a1610";
}

.el-icon-menu-gongtujihua:before {
  content: "\a6112";
}

.el-icon-menu-tuzhichaxun:before {
  content: "\a612";
}

.el-icon-menu-tuzhifenfaguanli:before {
  content: "\a6131";
}

.el-icon-menu-tuzhishencha:before {
  content: "\a6141";
}

.el-icon-menu-gongzuolianxidan:before {
  content: "\a6151";
}

.el-icon-menu-tuzhibiangeng:before {
  content: "\a6161";
}

.el-icon-menu-tuzhijiaodi:before {
  content: "\a1617";
}

.el-icon-menu-zhiyejiankang:before {
  content: "\a1618";
}

.el-icon-menu-yingjiyuan:before {
  content: "\a1619";
}

.el-icon-menu-anquanfeiyong:before {
  content: "\a61a";
}

.el-icon-menu-zhuanxiangshigongfangan:before {
  content: "\a161b";
}

.el-icon-menu-fangxunguanli:before {
  content: "\a161c";
}

.el-icon-menu-shiguguanli:before {
  content: "\a161d";
}

.el-icon-menu-weiguiqingkuang:before {
  content: "\a161e";
}

.el-icon-menu-banqianhui:before {
  content: "\a161f";
}

.el-icon-menu-yingjiyanlian:before {
  content: "\a1620";
}

.el-icon-menu-caozuorenyuan:before {
  content: "\a1621";
}

.el-icon-menu-gerenanquanguanli:before {
  content: "\a1622";
}

.el-icon-menu-yingjiziyuan:before {
  content: "\a1623";
}

.el-icon-menu-danweianquanguanli:before {
  content: "\a1624";
}

.el-icon-menu-anquantixi:before {
  content: "\a1625";
}

.el-icon-menu-anquanguanli:before {
  content: "\a1626";
}

.el-icon-menu-weixianyuanguanli:before {
  content: "\a1627";
}

.el-icon-menu-yinhuanpaicha:before {
  content: "\a1628";
}

.el-icon-menu-anquanjiaodi:before {
  content: "\a1629";
}

.el-icon-menu-gongchenghuafen:before {
  content: "\a162a";
}

.el-icon-menu-biaoduanguanli:before {
  content: "\a162b";
}

.el-icon-menu-gongquguanli:before {
  content: "\a162c";
}

.el-icon-menu-zuzhijiagou:before {
  content: "\a162d";
}

.el-icon-menu-xiangmuguanli:before {
  content: "\a162e";
}

.el-icon-menu-peixunguanli:before {
  content: "\a162f";
}

.el-icon-menu-peixunjilu:before {
  content: "\a1630";
}

.el-icon-menu-kaoshiguanli:before {
  content: "\a1631";
}

.el-icon-menu-zhoubao:before {
  content: "\a1632";
}

.el-icon-menu-yuebao:before {
  content: "\a66c1";
}

.el-icon-menu-baobiaoguanli:before {
  content: "\a1633";
}

.el-icon-menu-kaigongcehua:before {
  content: "\a1634";
}

.el-icon-menu-gongchengxinxiguanli:before {
  content: "\a1635";
}

.el-icon-menu-wenjianbaoshen:before {
  content: "\a1636";
}

.el-icon-menu-hetongjibenxinxiguanli:before {
  content: "\a1637";
}

.el-icon-menu-hetongfenleiguanli:before {
  content: "\a1638";
}

.el-icon-menu-hetongguanli:before {
  content: "\a1639";
}

.el-icon-menu-jueseguanli:before {
  content: "\a163c";
}

.el-icon-menu-dangjianguanli:before {
  content: "\a163d";
}

.el-icon-menu-dangzuzhiguanli:before {
  content: "\a163e";
}

.el-icon-menu-xinwendongtai:before {
  content: "\a1600";
}

.el-icon-menu-xiangmuquan:before {
  content: "\a1601";
}

.el-icon-menu-huiyijiyaoguanli:before {
  content: "\a1602";
}

.el-icon-menu-gongwenguanli:before {
  content: "\a1603";
}

.el-icon-menu-tongzhigonggao:before {
  content: "\a1604";
}

.el-icon-menu-huiyiguanli:before {
  content: "\a1605";
}

.el-icon-menu-zhiduguanli:before {
  content: "\a1606";
}

.el-icon-menu-zhengcefagui:before {
  content: "\a1607";
}

.el-icon-menu-gongchengdashiji:before {
  content: "\a1608";
}

.el-icon-menu-zongheguanli:before {
  content: "\a1609";
}

.el-icon-menu-qianqijinzhanguanli:before {
  content: "\a160a";
}

.el-icon-menu-xiaoxizhongxin3:before {
  content: "\a6001";
}

.el-icon-menu-xiaoxizhongxin2:before {
  content: "\a173e";
}

.el-icon-menu-xiaoxizhongxin1:before {
  content: "\a658";
}

.el-icon-menu-gerenxinxi:before {
  content: "\a715";
}

.el-icon-menu-juese:before {
  content: "\a619";
}

.el-icon-menu-xitongrizhi:before {
  content: "\a669";
}

.el-icon-menu-shili:before {
  content: "\a7c4";
}

.el-icon-menu-shili-2:before {
  content: "\a8b6";
}

.el-icon-menu-shili3:before {
  content: "\a63d";
}

.el-icon-menu-xitong:before {
  content: "\a648";
}

.el-icon-menu-moxingliulan:before {
  content: "\a633";
}

.el-icon-menu-wofaqide:before {
  content: "\a816";
}

.el-icon-menu-yewubiaodan:before {
  content: "\a663";
}

.el-icon-menu-daibanshiyi:before {
  content: "\a61c";
}

.el-icon-menu-xinchoufafang:before {
  content: "\a6e8";
}

.el-icon-menu--liuchengsheji:before {
  content: "\a611";
}

.el-icon-menu-liuchengweituo:before {
  content: "\a787";
}

.el-icon-menu-yibanshiyi:before {
  content: "\a7a1";
}

.el-icon-menu-xitongdiaodu:before {
  content: "\a60d";
}

.el-icon-menu-xitonggonggao:before {
  content: "\a600";
}

.el-icon-menu-zaixianyonghu:before {
  content: "\a7db";
}

.el-icon-menu-xitonghuancun:before {
  content: "\a6ba";
}

.el-icon-menu-yonghuguanli:before {
  content: "\a610";
}

.el-icon-menu-shuzizidian:before {
  content: "\a621";
}

.el-icon-menu-xitongcaidan:before {
  content: "\a6b5";
}

.el-icon-menu-zuzhiguanli:before {
  content: "\a60b";
}

.el-icon-menu-xitongpeizhi:before {
  content: "\a749";
}

.el-icon-menu-dianziqianming:before {
  content: "\a6a0";
}

.el-icon-menu-xitongjiankong:before {
  content: "\a6a1";
}

.el-icon-menu-quanxianguanli:before {
  content: "\a606";
}

.el-icon-menu-hangzhengquhua:before {
  content: "\a886";
}

.el-icon-menu-gangweiguanli:before {
  content: "\a60a";
}

.el-icon-menu-bumenguanli:before {
  content: "\a6c3";
}

.el-icon-menu-xitonglogo:before {
  content: "\a60e";
}

.el-icon-menu-renwudiaodu:before {
  content: "\a6b4";
}

.el-icon-menu-liuchengceshi:before {
  content: "\a725";
}

.el-icon-menu-gongzuoliucheng:before {
  content: "\a6b6";
}

.el-icon-menu-xitongquanxian:before {
  content: "\a61d";
}

.el-icon-menu-xitongguanli:before {
  content: "\a601";
}

.el-icon-menu-zhiliang:before {
  content: "\a288d";
}
