.demo-font-family {
  > div {
    margin-bottom: 4px;
    color: #333;
  }
  .demo-font-family-list {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(50px,1fr));
    grid-gap: 1px;
    > div {
      aspect-ratio: 1;
      outline: 1px solid #999;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .family1 {
    font-family: '思源黑体';
  }
  .font14 {
    font-size: 14px;
  }
  .font16 {
    font-size: 16px;
  }
  .font18 {
    font-size: 18px;
  }
  .fontWeight {
    font-weight: bold;
  }
}
